In [15]:
import matplotlib.pyplot  as plt
import pandas as pd
import numpy as np
import sklearn as sk
import seaborn as sbn
from datetime import datetime

df = pd.read_csv('rfm_data.csv')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomerID          1000 non-null   int64
 1   PurchaseDate        1000 non-null   object
 2   TransactionAmount   1000 non-null   float64
 3   ProductInformation  1000 non-null   object
 4   OrderID             1000 non-null   int64
 5   Location            1000 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 47.0+ KB

In [16]:
df.describe()

        CustomerID  TransactionAmount        OrderID
count  1000.000000         1000.00000    1000.000000
mean   5554.789000          513.67781  554071.398000
std    2605.014863          286.09870  264695.448814
min    1011.000000           12.13000  100096.000000
25%    3273.000000          257.12000  313152.000000
50%    5538.000000          523.56500  564671.500000
75%    7821.750000          759.86000  783052.250000
max    9991.000000          999.44000  999695.000000

In [17]:
df.isna()

,CustomerID,PurchaseDate,TransactionAmount,ProductInformation,OrderID,Location
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
995,False,False,False,False,False,False
996,False,False,False,False,False,False
997,False,False,False,False,False,False
998,False,False,False,False,False,False
999,False,False,False,False,False,False

In [18]:
df.dropna()

,CustomerID,PurchaseDate,TransactionAmount,ProductInformation,OrderID,Location
0,8814,2023-04-11,943.31,Product C,890075,Tokyo
1,2188,2023-04-11,463.70,Product A,176819,London
2,4608,2023-04-11,80.28,Product A,340062,New York
3,2559,2023-04-11,221.29,Product A,239145,London
4,9482,2023-04-11,739.56,Product A,194545,Paris
...,...,...,...,...,...,...
995,2970,2023-06-10,759.62,Product B,275284,London
996,6669,2023-06-10,941.50,Product C,987025,New York
997,8836,2023-06-10,545.36,Product C,512842,London
998,1440,2023-06-10,729.94,Product B,559753,Paris
999,4759,2023-06-10,804.28,Product D,467544,New York

In [19]:
df.shape[1]

6

In [28]:
df['PurchaseDate'] = pd.to_datetime(df['PurchaseDate'])

In [40]:
df.head()
print(df['PurchaseDate'])
#print(datetime.today().date())

0     2023-04-11
1     2023-04-11
2     2023-04-11
3     2023-04-11
4     2023-04-11
         ...
995   2023-06-10
996   2023-06-10
997   2023-06-10
998   2023-06-10
999   2023-06-10
Name: PurchaseDate, Length: 1000, dtype: datetime64[ns]

In [45]:
today = datetime.datetime.now()
difference =   (today - df['PurchaseDate']).dt.days
print(difference)

0      184
1      184
2      184
3      184
4      184
      ...
995    124
996    124
997    124
998    124
999    124
Name: PurchaseDate, Length: 1000, dtype: int64

In [ ]:
print(difference) #check the difference of recent purchase.

In [33]:
df['TransactionAmount'].sum()

513677.81

In [46]:
# Calculate Recency: the number of days since the last purchase for each customer
recency = df.groupby('CustomerID')['PurchaseDate'].max()

# Calculate Frequency: the number of purchases made by each customer
frequency = df.groupby('CustomerID')['PurchaseDate'].count()

# Calculate Monetary Value: the total purchase amount for each customer
monetary_value = df.groupby('CustomerID')['TransactionAmount'].sum()

In [48]:
#Let us now create a new dataframe with Recency Frequency and Monetary Value.
#We use pandas pd.DataFrame()

In [49]:
rfmDataFrame = pd.DataFrame({
    'recency': recency,
    'frequency': frequency,
    'monetary_value': monetary_value
})

In [50]:
percentages  = rfmDataFrame.rank(pct=True) #Use percentages to rank the customers.

In [51]:
#Create a RFM score.

In [52]:
RFM_Score = percentages['recency'] * 100 + percentages['frequency'] * 100 + percentages['monetary_value'] * 100
rfmDataFrame['RFM_SCORES'] = RFM_Score

In [54]:
#Rank the customers RFM now into groups.

In [57]:
def checkScore(data_frame):
    if data_frame['RFM_SCORES'] >= 200:
        return "High Score"
    elif (data_frame['RFM_SCORES'] <= 200) or (data_frame['RFM_SCORES'] >= 100):
        return "Mid Score"
    else:
        return "low score"

In [58]:
#Apply segmentation function to create 'RFM_Segment' column
rfmDataFrame['RFM_Segment'] = rfmDataFrame.apply(checkScore, axis=1)

KeyError: 'RFM_SCORES'